= form_with(model: @cal, local: true) do |form|
  .title
    = form.label :タイトル
    = form.text_field :title
  .time
    = form.label :開始時間
    = form.datetime_select :start_time
  .content
    = form.label :メモ
    = form.text_field :content
  .submit
    = form.submit
